.footer {
    width: 100%;
    display: flex;
    justify-content: center;

    &--wrapper {
        width: 1440px;
        padding: 80px 160px 32px 160px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    &-logo {
        width: 352px;
        height: 128px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        > img {
            width: 126px;
        }

        > span {
            width: 256px;
        }
    }

    &-column {
        display: flex;
        flex-direction: column;
        width: 160px;
        gap: 40px;

        &--nav {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            list-style-type: none;
            color: $neutral-4;
        }
    }

    &-subscribe {
        display: flex;
        flex-direction: column;

        &--label {
            color: $neutral-2;
            margin-bottom: 40px;
        }

        > span {
            color: $neutral-2;
            margin-bottom: 24px;
        }

        > input {
            box-sizing: border-box;
            border: 2px solid $neutral-6;
            border-radius: 90px;
            height: 48px;
            padding: 14px 16px;
        }
    }
}
