.card-big {
    width: 448px;
    height: 512px;

    > img {
        width: 448px;
        height: 430px;
        border-radius: 12px;
    }

    &-info {
        margin-top: 18px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        > img {
            width: 48px;
            height: 48px;
        }

        &--title {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            width: 312px;

            > span:first-child {
                color: $neutral-2;
            }

            > span {
                color: $neutral-3;
            }
        }

        &--price {
            display: flex;
            flex-direction: column;

            > span {
                color: $neutral-4;
                text-align: center;
            }
        }
    }
}
