.card-small {
    width: 350px;
    height: 148px;
    display: flex;
    flex-direction: row;
    align-items: center;

    > img {
        width: 160px;
        height: 148px;
        border-radius: 12px;
    }

    &-info {
        margin-left: 24px;

        &--title {
            color: $neutral-2;
            width: 167px;
        }

        &--data {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 8px;
            gap: 11px;
            margin-bottom: 16px;

            > img {
                width: 24px;
                height: 24px;
            }

            > span {
                color: $neutral-4;
                text-align: center;
            }
        }
    }
}
