.slider-card {
    box-sizing: border-box;
    padding: 24px;
    width: 198px;
    height: 247px;
    margin-bottom: 64px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: height 1s ease, box-shadow 1s ease, margin-bottom 1s ease;

    &--header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &--rank {
        width: 51px;
        height: 24px;
        border-radius: 24px;
        margin-right: 43px;
        padding: 0 8px;
        color: $neutral-8;
        background-color: $neutral-2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    &--rank1 {
        background-color: $primary-blue;
    }

    &--rank2 {
        background-color: $primary-purple;
    }

    &--rank3 {
        background-color: $primary-green;
    }

    &--action {
        cursor: pointer;
        display: flex;
        gap: 8px;
    }

    &--divider {
        width: 100%;
        height: 1px;
        background-color: $neutral-6;
    }

    &-user {
        display: flex;
        flex-direction: column;
        align-items: center;

        > img {
            width: 64px;
        }

        &--wrapper {
            display: flex;
            flex-direction: row;
            margin-bottom: 16px;
            transition: transform 1s ease, margin-bottom 1s ease;
        }

        &--verified {
            position: absolute;
            margin: 44px 0 0 44px;
        }

        &--name {
            color: $neutral-2;
            margin-bottom: 2px;
        }

        &--wallet {
            color: $neutral-3;
            margin-bottom: 2px;

            &::after {
                @extend .font-caption--2;
                color: $neutral-4;
                content: ' ETH';
            }
        }
    }

    &:hover {
        box-shadow: 0px 32px 64px 32px rgba(31, 47, 70, 0.12);
        height: 263px;
        margin-bottom: 48px;

        .slider-card-user--wrapper {
            transform: scale(1.25);
            margin-bottom: 32px;
        }
    }
}
