$primary-blue: #3772FF;
$primary-purple: #9757D7;
$primary-rose: #EF466F;
$primary-green: #45B26B;

$secondary-blue: #4BC9F0;
$secondary-beige: #E4D7CF;
$secondary-yellow: #FFD166;
$secondary-purple: #CDB4DB;

$neutral-1: #141416;
$neutral-2: #23262F;
$neutral-3: #353945;
$neutral-4: #777E90;
$neutral-5: #B1B5C3;
$neutral-6: #E6E8EC;
$neutral-7: #F4F5F6;
$neutral-8: #FCFCFD;
