.button {
    border-radius: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: $neutral-2;
    border: 2px solid $neutral-6;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    transition: 500ms;

    &-icon {
        display: flex;
        height: 100%;
        align-items: center;
    }

    &--medium {
        height: 48px;
        padding: 0 24px;
    }

    &--small {
        padding: 0 16px;
        height: 40px;
    }

    &--colored {
        color: $neutral-8;
        background-color: $primary-blue;
        border: none;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), #3772ff;
        }
    }
}
