.toggle {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 24px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $neutral-6;
    border-radius: 12px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: $primary-blue;
    border-radius: 50%;
    transition: 0.4s;
}

.toggle--input:checked + .slider {
    background-color: $primary-blue;
}

.toggle--input:checked + .slider:before {
    transform: translateX(24px);
    background-color: $neutral-8;
}
