header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout {
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $neutral-6;
    padding: 0 160px;
    box-sizing: border-box;

    &-left {
        width: fit-content;
        align-items: center;
        display: flex;
        gap: 32px;

        .left-logo {
            &--image {
                img {
                    width: 126px;
                }
            }
        }

        .left--divider {
            width: 2px;
            height: 40px;
            background-color: $neutral-6;
        }

        .left--link {
            font-family: "DM Sans";
            line-height: 16px;
            font-size: 14px;
            font-weight: bold;
            color: #23262f;
            cursor: pointer;
        }
    }

    &-right {
        width: fit-content;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 24px;

        .right--buttons {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }
    }
}

@media screen and (max-width: $tablet-size) {
    .layout {
        width: $tablet-size;
        padding: 0 80px;

        .left--divider {
            display: none;
        }

        .left--link {
            display: none;
        }
    }
}
