header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.layout {
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $neutral-6;
  padding: 0 160px;
  box-sizing: border-box;

  &-left {
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 32px;

    .left-logo {
      cursor: pointer;

      &--image {
        img {
          width: 126px;
        }
      }
    }

    .left--divider {
      width: 2px;
      height: 40px;
      background-color: $neutral-6;
    }

    .left--link {
      cursor: pointer;
    }
  }

  &-right {
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 24px;

    &--buttons {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    &--avatar,
    &--menu {
      display: none;
      transition: 500ms;
    }
  }
}

.layout-right--menu.active {
  transform: rotate(90deg);
}

.header-menu {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 80px;
  height: fit-content;
  padding-top: 48px;
  background-color: white;
  z-index: 2;

  &--icon {
    position: absolute;
    top: 48px;
    left: 85%;
  }

  &--item {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding-left: 30px;
    color: $neutral-2;

    > a {
      color: $neutral-2;
    }
  }
}

.header-menu.open {
  display: block;
  animation: fadeSlideIn 0.3s ease-in;
}

@media (min-width: $tablet-size) and (max-width: calc( $desktop-size - 1px)) {
  .layout {
    width: $tablet-size;
    padding: 0 80px;

    .left--divider {
      display: none;
    }

    .left--link {
      display: none;
    }
  }
}

@media (max-width: calc($tablet-size - 1px)) {
  .layout {
    width: 100%;
    padding: 48px 32px 24px 32px;
    height: fit-content;
    border-bottom: none;

    .left--divider {
      display: none;
    }

    .left--link {
      display: none;
    }

    .layout-right {
      gap: 20px;

      &--search {
        display: none;
      }

      &--buttons {
        display: none;
      }

      &--avatar {
        display: inline;
        > img {
          width: 32px;
          height: 32px;
        }
      }

      &--menu {
        display: inline;
        cursor: pointer;
      }
    }
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
