.notification {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &--new {
        position: absolute;
        margin-left: 28px;
        margin-bottom: 28px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: $primary-green;
    }
}
