.auction {
    width: 100%;
    height: fit-content;
    display: flex;

    justify-content: space-between;
    padding: 126px 160px 136px 160px;
    box-sizing: border-box;

    &-preview {
        &--img {
            width: 640px;
            height: 800px;
            border-radius: 16px;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        width: 352px;
        height: 296px;
        gap: 40px;

        &--author {
            .auction--title {
                color: $neutral-2;
                margin-bottom: 20px;
            }

            .auction-data {
                display: flex;
                flex-direction: row;
                gap: 65px;

                &--block {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    > img {
                        width: 40px;
                    }

                    &--info {
                        display: flex;
                        flex-direction: column;
                        margin-left: 8px;

                        .subtitle {
                            color: $neutral-4;
                        }

                        .title {
                            color: $neutral-2;
                        }
                    }
                }
            }
        }

        &--bid {
            padding: 30px 36.5px;
            box-sizing: border-box;
            border: 2px solid $neutral-6;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .bid-price {
                display: flex;
                flex-direction: column;
                align-items: center;

                &--title {
                    color: $neutral-2;
                }

                &--amount {
                    color: $neutral-1;
                }

                &--currency {
                    color: $neutral-4;
                }
            }

            .bid-time {
                display: flex;
                flex-direction: column;
                align-items: center;

                &--title {
                    color: $neutral-2;
                }

                &-ending {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, auto);
                    grid-column-gap: 19.5px;
                    grid-row-gap: 0px;

                    &--now {
                        color: $neutral-1;
                        width: 64px;
                        height: 40px;
                        text-align: center;
                    }

                    &--subtitle {
                        color: $neutral-4;
                        width: 64px;
                        height: 24px;
                        text-align: center;
                    }
                }
            }
        }

        &--buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-actions {
            display: flex;
            flex-direction: row;
            gap: 8px;

            &--arrow {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                box-sizing: border-box;
                border: 2px solid $neutral-6;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: $tablet-size) {
    .auction {
        padding: 112px 80px 112px 80px;

        &-preview {
            &--img {
                width: 528px;
                height: 800px;
                border-radius: 16px;
            }
        }

        &-info {
            width: 304px;
        }
    }
}
