.auction {
    width: 100%;
    height: fit-content;
    display: flex;

    justify-content: space-between;
    padding: 126px 160px 136px 160px;
    box-sizing: border-box;

    &-preview {
        &--img {
            width: 640px;
            height: 800px;
            border-radius: 16px;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        width: 352px;
        height: 296px;
        gap: 40px;

        &--author {
            .auction--title {
                font-family: "DM Sans";
                font-weight: bold;
                color: $neutral-2;
                font-size: 64px;
                line-height: 64px;
                letter-spacing: -2%;
                margin-bottom: 20px;
            }

            .auction-data {
                display: flex;
                flex-direction: row;
                gap: 65px;

                &--block {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &--info {
                        display: flex;
                        flex-direction: column;
                        margin-left: 8px;
                        font-family: "Poppins";

                        .subtitle {
                            color: $neutral-4;
                            font-size: 12px;
                            line-height: 20px;
                        }

                        .title {
                            color: $neutral-2;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        &--bid {
            padding: 30px 36.5px;
            box-sizing: border-box;
            border: 2px solid $neutral-6;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .bid-price {
                display: flex;
                flex-direction: column;
                align-items: center;

                &--title {
                    color: $neutral-2;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }

                &--amount {
                    color: $neutral-1;
                    font-family: "DM Sans";
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 56px;
                    letter-spacing: -2px;
                }

                &--currency {
                    color: $neutral-4;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                }
            }

            .bid-time {
                display: flex;
                flex-direction: column;
                align-items: center;

                &--title {
                    color: $neutral-2;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 8px;
                }

                &-ending {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, auto);
                    grid-column-gap: 19.5px;
                    grid-row-gap: 0px;

                    &--now {
                        color: $neutral-1;
                        font-family: "DM Sans";
                        width: 64px;
                        height: 40px;
                        text-align: center;
                        font-size: 32px;
                        line-height: 40px;
                        letter-spacing: -1%;
                        font-weight: bold;
                    }

                    &--subtitle {
                        color: $neutral-4;
                        font-family: "Poppins";
                        width: 64px;
                        height: 24px;
                        text-align: center;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }

        &--buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-actions {
            display: flex;
            flex-direction: row;
            gap: 8px;

            &--arrow {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                box-sizing: border-box;
                border: 2px solid $neutral-6;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: $tablet-size) {
    .auction {
        padding: 112px 80px 112px 80px;

        &-preview {
            &--img {
                width: 528px;
                height: 800px;
                border-radius: 16px;
            }
        }

        &-info {
            width: 304px;
        }
    }
}
