.hotbid {
    padding: 136px 160px 128px 160px;
    box-sizing: border-box;

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;

        &--title {
            color: $neutral-2;
        }

        &--control {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }

        &--arrow {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $neutral-6;
            cursor: pointer;
        }
    }

    .rec .rec-slider-container {
        margin: 0;
    }

    .rec .rec-item-wrapper {
        justify-content: flex-start;
        width: 100% !important; 
    }

    .rec .rec-swipable {
        gap: 32px;
    }
}

@media (max-width: calc($tablet-size - 1px)) {
  .hotbid {
    padding: 64px 32px;
  }
}
