.hotsection {
  padding: 128px 160px;
  box-sizing: border-box;

  &--title {
    color: $neutral-2;
  }

  &--list {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    margin-top: 80px;
  }
}

@media (max-width: calc($tablet-size - 1px)) {
  .hotsection {
    padding: 64px 32px;

    &--list {
      margin-top: 32px;
    }
  }
}
