.light-mode {
  --font-color: #141416;
  --body-bg-color: #FCFCFD;
}

.dark-mode {
  --font-color: #FCFCFD;
  --body-bg-color: #141416;
}

main, header, footer {
  background-color: var(--body-bg-color);
  color: var(--font-color);
}